{include file="common/mainHead"/}
<div class="admin-main fadeInUp animated">
    <blockquote class="layui-elem-quote">
        <a href="{:url('ruleAdd')}" class="layui-btn layui-btn-small">
            <i class="fa fa-plus"></i> 添加权限
        </a>
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>数据列表</legend>
        <div class="layui-field-box table-responsive">
            <form class="layui-form layui-form-pane">
                <table class="layui-table table-hover" lay-even>
                    <thead>
                    <tr>
                        <th>{:lang('id')}</th>
                        <th>{:lang('icon')}</th>
                        <th>权限名称</th>
                        <th>控制器/方法</th>
                        <th>是否验证权限</th>
                        <th>菜单{:lang('status')}</th>
                        <th>{:lang('order')}</th>
                        <th>{:lang('action')}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="admin_rule" id="v"}
                    <tr>
                        <td>{$v.id}</td>
                        <td><i style="font-size:18px;" class="fa {$v.icon}"></i></td>
                        <td>{$v.lefthtml}{$v.title}</td>
                        <td>{$v.href}</td>
                        <td>
                            {if condition='$v["authopen"] eq 1'}
                            <a class="red" href="javascript:" onclick="return tzyes('{$v.id}');" title="已开启">
                                <div id="yz{$v.id}">
                                    <button class="layui-btn layui-btn-mini layui-btn-danger">
                                        无需验证
                                    </button>
                                </div>
                            </a>
                            {else/}
                            <a class="red" href="javascript:" onclick="return tzyes('{$v.id}');" title="已禁用">
                                <div id="yz{$v.id}">
                                    <button class="layui-btn layui-btn-warm layui-btn-mini">需要验证</button>
                                </div>
                            </a>
                            {/if}
                        </td>
                        <td>
                            {if condition='$v["menustatus"] eq 1'}
                            <a class="red" href="javascript:" onclick="return stateyes('{$v.id}');" title="已开启">
                                <div id="zt{$v.id}">
                                    <button class="layui-btn layui-btn-warm layui-btn-mini">显示状态</button>
                                </div>
                            </a>
                            {else/}
                            <a class="red" href="javascript:" onclick="return stateyes('{$v.id}');" title="已禁用">
                                <div id="zt{$v.id}">
                                    <button class="layui-btn layui-btn-danger layui-btn-mini">隐藏状态</button>
                                </div>
                            </a>
                            {/if}
                        </td>
                        <td><input name="{$v.id}" class="list_order layui-input" value=" {$v.sort}" size="10"/></td>
                        <td>
                            <a href="{:url('ruleEdit',array('id'=>$v['id']))}" class="layui-btn layui-btn-mini">{:lang('edit')}</a>
                            <a href="javascript:;" class="layui-btn layui-btn-mini layui-btn-danger" onclick="return del('{$v.id}');">{:lang('del')}</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8">
                                <button type="button" class="layui-btn  layui-btn-small" lay-submit="" lay-filter="sort">{:lang('order')}</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </fieldset>
    <div class="admin-table-page">
        <div id="page" class="page">
        </div>
    </div>
</div>
{include file="common/mainFoot"/}
<script>
    layui.use(['form', 'layer'], function() {
        var form = layui.form(),layer = layui.layer;
        form.on('submit(sort)', function(data){
            $.post("{:url('ruleOrder')}",data.field,function(res){
                if(res.code > 0){
                    layer.msg(res.msg,{time:1000,icon:1},function(){
                        location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            })
        });
    });
    function del(id) {
        layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
            layer.close(index);
            window.location.href = "{:url('ruleDel')}?id=" + id + "";
        });
    }
    function stateyes(id) {
        $.post('{:url("ruleState")}', {id: id}, function (data) {
            if (data.code) {
                if (data.msg == "状态禁止") {
                    var a = '<button class="layui-btn layui-btn-danger layui-btn-mini">隐藏状态</button>'
                    $('#zt' + id).html(a);
                } else {
                    var b = '<button class="layui-btn layui-btn-warm layui-btn-mini">显示状态</button>'
                    $('#zt' + id).html(b);
                }
                return false;
            }else{
                layer.msg(data.msg,{time:1000,icon:2});
                return false;
            }
        });
        return false;
    }
    function tzyes(id) {
        $.post('{:url("ruleTz")}', {id: id}, function (data) {
            if (data.status) {
                if (data.info == '无需验证') {
                    var a = '<button class="layui-btn layui-btn-danger layui-btn-mini">无需验证</button>'
                    $('#yz' + id).html(a);
                    return false;
                } else {
                    var b = '<button class="layui-btn layui-btn-warm layui-btn-mini">需要验证</button>'
                    $('#yz' + id).html(b);
                    return false;
                }
            }else{
                layer.msg(data.msg,{time:1000,icon:2});
                return false;
            }
        });
        return false;
    }
</script>